:root {
    --primary-color: #3f51b5;
    --primary-light: #757de8;
    --primary-dark: #002984;
    --standard-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-4: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --shadow-5: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-6: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow-90: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.form-card {
    background-color: var(--primary-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    box-shadow: var(--standard-box-shadow);
}

@media screen and (max-width:768px) {
    .form-card {
        width: 90%;
    }
}

body {
    background-image: url("../images/background.png");
    /* background-color: #eceff1; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.no-border {
    border: 1px solid var(--primary-color);
}

.no-border:focus {
    box-shadow: none;
    border: 1px solid var(--primary-dark);
}

::placeholder {
    color: var(--primary-color) !important;
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    border-radius: .25rem 0 0 .25rem;
}

.text-bold {
    font-weight: 700;
    color: var(--primary-dark);
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: #e8eaf6;
}

.active {
    background-color: var(--primary-color) !important;
}

hr {
    color: var(--primary-light);
}

.search-bar {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.side-bar {
    height: 100%;
    width: 250px;
    position: fixed!important;
    z-index: 1;
    overflow: none;
}

.greeting {
    background-color: var(--primary-color) !important;
}

.btn-radio {
    width: 50px;
    height: 20px;
}

@media screen and (min-width:768px) {
    .main-content {
        margin-left: 220px;
    }
}

.input-group {
    width: 400px !important;
    /* right: 1050px; */
}

.img-profile {
    width: 30px;
    border-radius: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown {
    position: relative !important;
    display: inline-block !important;
}

.dropdown-content {
    border-radius: 2px;
    margin-top: 2px;
    padding: 10px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.form-control:focus {
    background-color: transparent;
    resize: none;
    outline: none;
}

.main-content a {
    text-decoration: none;
}